<tr <%= dom_id article %>>
  <td><%= article.title %></td>
  <td><%= article.description %></td>
  <td><%= article.formatted_when_went %></td>
  <td><%= link_to "Show this article", article, class:"btn btn-primary btn-sm" %></td>
</tr>


