<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  
</div>
<% if user_signed_in? %>

  <%= link_to "Editar post", edit_post_path(@post), class: "btn btn-primary btn-sm mt-2 mb-5" %> <%= link_to "Página de Inicio", posts_path, class: "btn btn-primary btn-sm mt-2 mb-5"  %>

  <%= button_to "Eliminar post", @post, method: :delete, class: "btn btn-danger btn-sm"  %>

<% else %>

  <%= link_to "Página de Inicio", posts_path, class: "btn btn-primary btn-sm mt-5"  %>

<% end %>